#main-header {
    border: transparent;
    border-radius: 100px;
    /*background-color: #b5aa99;*/
     background-image: linear-gradient(to right top, #006b66, #217e78, #37928b, #4ba69e, #5ebab1);
    color: white;
    font-family: 'Cookie', Helvetica, sans-serif;
    font-size: 30px;
    width: 80px;
    height: 80px;
    padding:  18px 10px;
}

.buttons {
    border: #C22792 2px solid;
    border-radius: 10px;
    width: 80px;
    height: 40px;
    background-color: white;
    padding: 0;
}

.buttons:hover {
    background-color: #C22792;
    color: white;
}

#remove {
    border: #5ebab1 2px solid;
}

#remove:hover {
    background-color: #5ebab1;
}

#clear {
    border: #006b63 2px solid;
}

#clear:hover {
    background-color: #006b63;
}

textarea {
    border: #ddd7c6 solid 1px;
    border-radius: 10px;
    height: 40px;
    width: 285px;
    overflow: hidden;
}

textarea:focus {
    box-shadow: 1px 1px 10px 5px #ddd7c6;
}

.task {
    border: #ddd7c6 solid 2px;
    border-radius: 10px;
    width: 285px;
    padding: 5px 5px;
    margin: 5px auto;
    overflow: hidden;
}

